In [2]:
import pandas as pd
import requests

In [26]:
df = pd.read_csv("fireflies.csv")
df.head()
df.columns

Index(['Year', 'Habitat ID', 'Latitude', 'Longitude', 'State', 'Country',
       'Location', 'Your Backyard?', 'Grassy', 'Wetland', 'Forest',
       'Open/Unmowed', 'Cropland', 'Pasture', 'Beach',
       'Hedge Rows/Thick Shrubs', 'Scattered Shrubs', 'Tall Grass',
       'Flowerbeds', 'Ornamentals', 'No Low Vegetation', 'Tree Type',
       'Creek/River (yards away)', 'Pond/Lake (yards away)',
       'Freshwater Marsh (yards away)', 'Salt Water Marsh (yards away)',
       'Agricultural Field (yards away)', 'Cultivated Bog (yards away)',
       'Golf Course (yards away)', 'Swimming Pool (yards away)',
       'Man-made Pool (yards away)', 'Ocean (yards away)',
       'Is the Grass Mowed?', 'Fertilized', 'Weed Killer', 'Pesticides',
       'Cast Light', 'Street Light (yards away)', 'Light Source (yards away)',
       'Observation Date', 'Temperature (F)', 'Number Seen in 10 s',
       'Precipitation', 'Moonlight', 'Windspeed (MPH)', 'Different Colors',
       'Different Flash Patterns', 'Field Location', 'Clouds', 'Color',
       'Flash Pattern', 'Fly Location', 'Fly J-Shape'],
      dtype='object')

In [27]:
df = df[['Year', 'Latitude', 'Longitude', 'Observation Date', 'Country']]
df.head()

   Year  Latitude  Longitude Observation Date Country
0  2008   42.3683   -71.0716    5/22/08 18:15      US
1  2008   42.3683   -71.0716    6/16/08 23:30      US
2  2008   42.3683   -71.0716     7/7/08 19:15      US
3  2008   42.3683   -71.0716      7/8/08 1:00      US
4  2008   42.3683   -71.0716      7/8/08 3:15      US

In [31]:
#keep only US
df = df[df['Country'] == 'US']
df.Latitude.describe()

count    39076.000000
mean        39.448764
std          3.322534
min         25.322400
25%         38.700500
50%         39.841900
75%         42.059200
max         47.903800
Name: Latitude, dtype: float64

In [30]:
df.Longitude.describe()

count    39076.000000
mean       -81.666493
std          7.851825
min       -122.073000
25%        -89.444500
50%        -80.198700
75%        -75.601825
max        -67.693800
Name: Longitude, dtype: float64

In [36]:
#split date var
df[['date', 'time']] = df['Observation Date'].str.split(" ", 1, expand = True)

In [43]:
df.shape

(39076, 7)

In [55]:
#don't need exact duplicates, do i?
df2 = df.drop_duplicates(keep=False)
df2.shape

(14810, 7)

In [57]:
df2.to_csv('fireflies5.csv', index = False)